<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="video">Upload Video:</label><br><br>
        <input type="file" name="video" id="file" accept="video/*"><br><br>
        <label for="filename">Filename: </label> 
        <input type="text" name="filename" > 
        <input type="submit">
    </form>    
</body>
</html>